<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Coffee Shop Management System!</h1>
    <a href="/roles">Role Management</a>
    <a href="/users">User Managenemt</a>
</body>
</html>