<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role User</title>
</head>
<body>
    <h1>Role User</h1>
    <form action="/roles/create" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <button type="submit">Create</button>
    </form>

    <a href="/roles">Back to Role</a>
    
</body>
</html>